.products-list-grid {
    width: 100%;
    display: grid;
    gap: 1rem;
}

@media (min-width: 768px) {
    .products-list-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .products-list-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}